.cv-container {
    display: grid;
    width: 100vw;
    grid-template-rows: 10fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 251, 234);
    --font-info: 1.6rem;
    --font-content: 1.4rem;
    --font-date: 1.2rem;
}

.cv {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    height: 1000px;
    margin-top: 10px;
    width: 800px;
    background-color: white;
}

#cv-btn {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.general-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px;
    background-color:rgb(85, 153, 202);
}

.person-name {
    font-size: 2.6rem;
    font-weight: bold;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem;
    padding-top: 5px;
}

.icons {
    width: 20px;
    height: auto;
}

.address > .icons {
    width: 17px;
    height: auto;
}

.sub {
    padding: 20px;
    padding-left: 30px;
}

.section {
    font-size: 2rem;
    text-decoration: underline;
}

.education > .augments {
    display: grid;
    font-size: var(--font-content);
    grid-template: 1fr 1fr / 3fr 1fr;
}

.education .duration {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    font-style: italic;
}

.school {
    font-weight: bold;
    font-size: var(--font-info);
}

.skills > .augments {
    display: grid;
}

li {
    list-style: none;
}

.duration {
    font-size: var(--font-date);
}

.skill-type, .company {
    font-size: var(--font-info);
    font-weight: bold;
}

.skill, .position {
    font-size: var(--font-content);
    padding-bottom: 10px;
}


.description {
    font-size: var(--font-content);
}